@use "../../../../styles/utils" as *;

.new-message-form {
    padding: var(--c--globals--spacings--base);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.new-message-form-container {
    margin-inline: auto;
    margin-bottom: var(--c--globals--spacings--4xl);
    height: 100%;
    width: 100%;
    max-width: breakpoint("mobile");
}

.new-message-form-container h1 {
    margin-block: var(--c--globals--spacings--md) var(--c--globals--spacings--xl);
}

@media (max-width: breakpoint("tablet")) {
    .new-message-form-container h1 {
        margin-block: var(--c--globals--spacings--sm) var(--c--globals--spacings--md);
    }
}
