.message-reply-form-container {
    border: 1px solid var(--c--contextuals--border--semantic--brand--primary);
    box-shadow: 0 2px 5px var(--c--contextuals--background--semantic--contextual--primary-hover);
    border-radius: 4px;
    padding: var(--c--globals--spacings--base);
}

