// Vendors
@use "./reset.scss";
@use "@gouvfr-lasuite/ui-kit/style";

// Global app styles and tokens
@use "./cunningham-tokens.css";
@use "./globals.scss";

// UI Kit components fork
@use "./../features/layouts/components/main/right-panel";
@use "./../features/layouts/components/main/header";
@use "./../features/layouts/components/main/layout";
@use "./../features/layouts/components/main/left-panel";
// Application Components
@use "./../features/layouts/components/main";
@use "./../features/ui/components/users";
@use "./../features/ui/components/breadcrumbs";
@use "./../features/ui/components/toaster";
@use "./../features/ui/components/badge";
@use "./../features/ui/components/label-badge";
@use "./../features/ui/components/info-row";
@use "./../features/ui/components/bar";
@use "./../features/ui/components/banner";
@use "./../features/ui/components/feedback-button";
@use "./../features/ui/components/copyable-input";
@use "./../features/layouts/components/mailbox-panel";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-actions";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-list";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels/components/label-form-modal";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels/components/label-item";
@use "./../features/layouts/components/thread-panel";
@use "./../features/layouts/components/thread-panel/components/thread-item";
@use "./../features/layouts/components/thread-view";
@use "./../features/layouts/components/thread-view/components/thread-action-bar";
@use "./../features/layouts/components/thread-view/components/thread-message";
@use "./../features/layouts/components/thread-view/components/thread-summary";
@use "./../features/layouts/components/thread-view/components/message-reply-form";
@use "./../features/layouts/components/thread-view/components/thread-attachment-list";
@use "./../features/layouts/components/thread-view/components/thread-accesses-widget";
@use "./../features/layouts/components/thread-view/components/thread-labels-widget";
@use "./../features/forms/components/message-form";
@use "./../features/forms/components/message-editor";
@use "./../features/forms/components/search-input";
@use "./../features/forms/components/search-filters-form";
@use "./../features/controlled-modals/message-importer";
@use "./../features/layouts/components/admin/modal-create-address";

// Application views
@use "./../pages";
@use "./../pages/mailbox";
@use "./../pages/mailbox/[mailboxId]/new";
@use "./../pages/domain";
