// Vendors
@use "./reset.scss";
@use "@gouvfr-lasuite/ui-kit/style";
@use "@gouvfr-lasuite/ui-kit/sass/fonts";

// Global app styles and tokens
@use "./cunningham-tokens.css";
@use "./globals.scss";

// UI Kit components fork
@use "./../features/layouts/components/main/header";
@use "./../features/layouts/components/main/layout";
@use "./../features/layouts/components/main/left-panel";

// Application Components
@use "./../features/layouts/components/main";
@use "./../features/ui/components/breadcrumbs";
@use "./../features/ui/components/toaster";
@use "./../features/ui/components/badge";
@use "./../features/ui/components/label-badge";
@use "./../features/ui/components/contact-chip";
@use "./../features/ui/components/banner";
@use "./../features/ui/components/feedback-button";
@use "./../features/ui/components/copyable-input";
@use "./../features/ui/components/dropdown-button";
@use "./../features/ui/components/progress-bar";
@use "./../features/ui/components/circular-progress";
@use "./../features/layouts/components/mailbox-panel";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-actions";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-list";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels/components/label-form-modal";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels/components/label-item";
@use "./../features/layouts/components/thread-panel";
@use "./../features/layouts/components/thread-panel/components/thread-item";
@use "./../features/layouts/components/thread-view";
@use "./../features/layouts/components/thread-view/components/thread-action-bar";
@use "./../features/layouts/components/thread-view/components/thread-message";
@use "./../features/layouts/components/thread-view/components/thread-summary";
@use "./../features/layouts/components/thread-view/components/message-reply-form";
@use "./../features/layouts/components/thread-view/components/thread-attachment-list";
@use "./../features/layouts/components/thread-view/components/thread-accesses-widget";
@use "./../features/layouts/components/thread-view/components/thread-labels-widget";
@use "./../features/forms/components/message-form";
@use "./../features/forms/components/search-input";
@use "./../features/forms/components/search-filters-form";
@use "./../features/controlled-modals/message-importer";
@use "./../features/layouts/components/admin/mailbox-credentials";
@use "./../features/layouts/components/admin/modal-create-update-mailbox";
@use "./../features/layouts/components/admin/modal-create-domain";
@use "./../features/layouts/components/admin/modal-mailbox-reset-password";
@use "./../features/layouts/components/admin/modal-compose-signature";
@use "./../features/layouts/components/mailbox-settings/modal-compose-template";
@use "./../features/ui/components/text-loader";
@use "./../features/forms/components/combobox";
@use "./../features/layouts/components/mailbox-panel/components/mailbox-labels/components/label-form-modal/components/color-palette-field";
@use "./../features/layouts/components/admin/signatures-view";

// Blocknote custom blocks and components
@use "./../features/blocknote/blocknote-view-field";
@use "./../features/blocknote/inline-template-variable";
@use "./../features/blocknote/signature-block";
@use "./../features/blocknote/message-template-block";

// Application views
@use "./../pages";
@use "./../pages/mailbox";
@use "./../pages/mailbox/[mailboxId]/new";
@use "./../pages/domain";
