.thread-summary__container {
  display: flex;
  flex-direction: row;
  padding-left: var(--c--theme--spacings--md);
  justify-content: space-between;
  gap: var(--c--theme--spacings--xl);
  align-items: flex-start;
}
.thread-summary__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 960px;
  margin: 0;
}

.thread-summary__refresh-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: var(--c--theme--spacings--base);
}
