.thread-attachment-list {
    border-top: 1px solid var(--c--theme--colors--greyscale-200);
    padding-top: var(--c--theme--spacings--base);
}

.thread-attachment-list__header {
    margin-bottom: var(--c--theme--spacings--sm);
}

.thread-attachment-list__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--c--theme--spacings--base);
}

.attachment-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--theme--spacings--base);
    background-color: var(--c--theme--colors--greyscale-050);
    padding: var(--c--theme--spacings--xs);
    padding-right: var(--c--theme--spacings--2xs);
    border-radius: var(--c--theme--spacings--3xs);
    border: 1px solid var(--c--theme--colors--greyscale-200);
    transition: opacity var(--c--theme--transitions--duration) var(--c--theme--transitions--ease-out);
}

.attachment-item--loading {
    opacity: 0.5;
}

.attachment-item--error {
    // background-color: var(--c--theme--colors--danger-050);
    color: var(--c--theme--colors--danger-600);
    border-color: var(--c--theme--colors--danger-600);
}

.attachment-item-actions {
    display: flex;
    flex-direction: row;
    // gap: var(--c--theme--spacings--2xs);
    flex-wrap: nowrap;
    flex: 0 0 auto;
}

.attachment-item-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attachment-item-icon-container {
    position: relative;
}

.attachment-item-icon {
    font-size: 24px;
    width: 32px;
    text-align: center;
    color: var(--c--theme--colors--primary-600);
}

.attachment-item-icon-drive {
    background: #FFF;
    border-radius: 4px;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 16px;
    height: 16px;
    padding: 2px;
    color: var(--c--theme--colors--primary-600);
    background-color: var(--c--theme--colors--greyscale-050);
    box-shadow: 0 0 0 1px var(--c--theme--colors--greyscale-200);
}

.attachment-item-upload-button-container {
    position: relative;
}

.attachment-item-upload-success {
    background-color: var(--c--theme--colors--primary-050);
    border: thin solid var(--c--theme--colors--primary-200);
    color: var(--c--theme--colors--primary-600);
    font-size: var(--c--theme--font--sizes--xs);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--c--theme--spacings--3xs) var(--c--theme--spacings--2xs);
    border-radius: var(--c--theme--spacings--3xs);
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateX(90%) translateY(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}

.attachment-item-upload-success--visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(100%) translateY(-50%);
}

.attachment-item-icon--error {
    color: var(--c--theme--colors--danger-600);
}

.attachment-item-size {
    font-size: var(--c--theme--font--sizes--xs);
    color: var(--c--theme--colors--greyscale-600);
}

.attachment-item-content {
    font-size: var(--c--theme--font--sizes--sm);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.attachment-item-name {
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    word-break: break-all;
}

.attachment-item-error-message {
    font-size: 0.875rem;
    color: var(--c--theme--colors--danger-600);
    margin: 0;
}

.attachment-item-drive-upload-button-container {
    position: relative;
}

.attachment-item--drive-upload-tooltip {
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(0%);
    background-color: var(--c--theme--colors--primary-050);
    border: thin solid var(--c--theme--colors--primary-200);
    font-size: var(--c--theme--font--sizes--sm);
    color: var(--c--theme--colors--primary-600);
    width: max-content;
    max-width: 300px;
    border-radius: var(--c--theme--spacings--3xs);
    padding: var(--c--theme--spacings--3xs) var(--c--theme--spacings--2xs);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition-property: transform, all;
    transition-delay: 0.1s, 0s;
    transition-duration: 0.25s, 0.4s;
    transition-timing-function: var(--c--theme--transitions--ease-out);

    &--error {
        background-color: var(--c--theme--colors--danger-050);
        border: thin solid var(--c--theme--colors--danger-200);
        color: var(--c--theme--colors--danger-600);
    }

    &--visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(50%);
        transition-delay: 0s, 0.1s;
        transition-duration: 0.4s, 0.25s;
    }
}

