.template-list {
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--t);

    .template-item {
        border: 0;
        width: 100%;
        cursor: pointer;
        padding: var(--c--globals--spacings--base);
    }
}
