.no-mailbox {
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - var(--header-height));

    & > div {
        font-size: var(--c--globals--font--sizes--h4);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > * {
            margin-block: 0;
        }

        .material-icons {
            font-size: 2.5rem;
            color: var(--c--contextuals--content--semantic--neutral--tertiary);
        }

        p {
            color: var(--c--contextuals--content--semantic--neutral--tertiary);
            font-weight: 500;
        }
    }
}
