.search__filters {
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--sm);
    position: absolute;
    background-color: var(--c--contextuals--background--surface--tertiary);
    box-shadow: 0 2px 5px 0 var(--c--contextuals--background--semantic--contextual--primary-hover);
    border-radius: 4px;
    border: 1px solid var(--c--contextuals--border--semantic--neutral--tertiary);
    padding: var(--c--globals--spacings--sm);
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 400px;
    max-width: 100vw;
    animation: slide-in 200ms ease-out;
    transform-origin: top center;
    z-index: 0;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

.search__filters-footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--c--globals--spacings--sm);
}

.search__filters-folder-option {
    display: flex;
    align-items: center;
    gap: var(--c--globals--spacings--2xs);
}
