.thread-action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--c--contextuals--background--surface--primary);
    width: inherit;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 var(--c--contextuals--background--semantic--contextual--primary-hover);
    padding: var(--c--globals--spacings--3xs);
    gap: var(--c--globals--spacings--2xs);

    & > .c__separator--vertical.with-padding {
        margin-inline: var(--c--globals--spacings--3xs);
    }
}

.thread-action-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--c--globals--spacings--4xs);
}
