.admin-mailbox-credentials {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--base);

  &__content {
    width: 100%;
    border: 1px solid var(--c--contextuals--border--semantic--info--secondary);
    border-radius: 4px;
    background-color: var(--c--contextuals--background--semantic--info--tertiary);
    padding: var(--c--globals--spacings--md);
    text-align: center;
    box-shadow: 0 2px 5px var(--c--contextuals--background--semantic--contextual--primary-hover);

    dt {
      font-weight: 500;
      color: var(--c--contextuals--content--semantic--info--tertiary);
      font-size: var(--c--globals--font--sizes--sm);
      margin-bottom: var(--c--globals--spacings--xs);
      letter-spacing: 0.5px;
    }

    dd {
      margin-bottom: var(--c--globals--spacings--base);
      padding: var(--c--globals--spacings--s);
      background-color: var(--c--contextuals--background--surface--secondary);
      border: 1px solid var(--c--contextuals--border--semantic--info--secondary);
      border-radius: 4px;
      font-family: monospace;
      font-size: var(--c--globals--font--sizes--md);
      font-weight: 600;
      color: var(--c--contextuals--content--semantic--info--primary);
      word-break: break-all;
    }
  }
}
