.contact-chip {
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    font-size: var(--c--globals--font--sizes--sm);
    white-space: nowrap;
    min-width: 0;
    max-width: 100%;

    &:not(:last-of-type):after {
        content: ", ";
        margin-right: 1ex;
    }
}

.contact-chip__content {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--c--globals--spacings--2xs);
    position: relative;
    z-index: 1;
    transition: color 0.2s;
    min-width: 0;
    max-width: 100%;

    &:hover:before {
        content: "";
        display: block;
        position: absolute;
        inset: -4px -8px;
        border-radius: 4px;
        background-color: var(--c--contextuals--background--semantic--neutral--tertiary);
        z-index: -1;
    }
}

.contact-chip__identity-name {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.contact-chip__identity-email {
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 1 auto;
}

.contact-chip__icon {
    transform: translateY(2px);
}
.contact-chip__icon--warning {
    color: var(--c--contextuals--content--semantic--warning--tertiary);
}

.contact-chip__icon--error {
    color: var(--c--contextuals--content--semantic--error--tertiary);
}

.contact-chip__icon--success {
    color: var(--c--contextuals--content--semantic--success--tertiary);
}

// == ContactPopover
.contact-popover {
    padding: var(--c--globals--spacings--base);
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--xs);
    background-color: var(--c--contextuals--background--surface--secondary);
    border: 1px solid var(--c--contextuals--border--surface--primary);
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 var(--c--contextuals--background--semantic--contextual--primary-hover);
    width: 350px;
}

.contact-popover__identity {
    display: flex;
    gap: var(--c--globals--spacings--md);
    align-items: center;

    & > div {
        flex-shrink: 0;
        overflow: hidden;
    }
}
.contact-popover__identity-info {
    flex: 1;
}

.contact-popover__identity-name {
    display: inline-block;
    font-size: var(--c--globals--font--sizes--h4);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin: 0;
    line-height: 1;
}

.contact-popover__identity-email {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    cursor: pointer;
    display: flex;
    position: relative;
    max-width: 100%;

    & > span:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        text-decoration: underline;
    }

    & > .contact-popover__copy-icon {
        height: 100%;
        font-size: var(--c--globals--font--sizes--base);
        height: 1.2em;
        padding: 2px;
        display: none;
        text-decoration: none;
    }

    &:hover {
        color: var(--c--contextuals--content--semantic--brand--primary);
        text-decoration-color: currentColor;
        & > .contact-popover__copy-icon {
            display: block;
        }
    }
}


