.modal-mailbox-reset-password {
  padding-block: var(--c--globals--spacings--md) 0;

  & > section {
    &.modal-mailbox-reset-password__success {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--c--globals--spacings--md);
      padding: var(--c--globals--spacings--md) var(--c--globals--spacings--base);

      & > footer > button {
          min-width: 200px;
          justify-content: center;
      }
    }

    &.modal-mailbox-reset-password__idle {
      display: flex;
      flex-direction: column;
      gap: var(--c--globals--spacings--md);

      & > footer {
        margin-top: var(--c--globals--spacings--sm);
        display: flex;
        justify-content: flex-end;
        gap: var(--c--globals--spacings--base);
      }
    }
  }
}
