.suite__toaster {
  &__wrapper {
    // Remove toastify styles
    box-shadow: none;
    background-color: transparent;
    min-height: 0;
    width: auto;
    padding: 0;
  }

  &__item {
    border-width: 1px;
    border-style: solid;
    padding: var(--c--globals--spacings--xs);
    border-radius: 4px;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--c--globals--font--sizes--sm);
    font-weight: 500;
    font-family: var(--c--globals--font--families--base);

    &__content {
      display: flex;
      gap: 8px;
      align-items: center;
      flex-grow: 1;
    }

    &__actions {
      display: flex;
      gap: var(--c--globals--spacings--3xs);
      align-items: center;
      flex-shrink: 0;
    }

    &--info {
      background-color: var(--c--contextuals--background--semantic--info--tertiary);
      border-color: var(--c--contextuals--border--semantic--info--tertiary);
      color: var(--c--contextuals--content--semantic--info--primary);
      --toastify-color-progress-light: var(--c--contextuals--background--semantic--info--primary);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 145, 0.05);
    }

    &--error {
      background-color: var(--c--contextuals--background--semantic--error--tertiary);
      border-color: var(--c--contextuals--border--semantic--error--tertiary);
      color: var(--c--contextuals--content--semantic--error--primary);
      --toastify-color-progress-light: var(--c--contextuals--background--semantic--error--primary);
      box-shadow: 0 6px 18px 0 rgba(206, 5, 0, 0.05);
    }

    &--warning {
      background-color: var(--c--contextuals--background--semantic--warning--tertiary);
      border-color: var(--c--contextuals--border--semantic--warning--tertiary);
      color: var(--c--contextuals--content--semantic--warning--primary);
      --toastify-color-progress-light: var(--c--contextuals--background--semantic--warning--primary);
      box-shadow: 0 6px 18px 0 rgba(206, 5, 0, 0.05);
    }
  }
}
