.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--c--globals--font--sizes--base);
    padding: var(--c--globals--spacings--xs);
    border-radius: 4px;
}

.banner--info {
    background-color: var(--c--contextuals--background--semantic--info--tertiary);
    border: 1px solid var(--c--contextuals--border--semantic--info--tertiary);
    color: var(--c--contextuals--content--semantic--info--primary);
}

.banner--error {
    background-color: var(--c--contextuals--background--semantic--error--tertiary);
    border: 1px solid var(--c--contextuals--border--semantic--error--tertiary);
    color: var(--c--contextuals--content--semantic--error--primary);
}

.banner--warning {
    background-color: var(--c--contextuals--background--semantic--warning--tertiary);
    border: 1px solid var(--c--contextuals--border--semantic--warning--tertiary);
    color: var(--c--contextuals--content--semantic--warning--primary);
}

.banner__content {
    display: flex;
    flex-direction: row;
    gap: var(--c--globals--font--sizes--xs);
    font-size: var(--c--globals--font--sizes--sm);
    width: 100%;
}

.banner__content__icon {
    height: 1.5rem;
    line-height: 1;

    & > .material-icons {
        height: 100%;
        width: auto;
    }
}

.banner__content__text {
    align-items: center;
    text-align: left;
    line-height: 1.5rem;
    flex: 1;
}

.banner--compact {
    padding-inline: var(--c--globals--spacings--xs);
    font-size: var(--c--globals--font--sizes--sm);
    padding-block: var(--c--globals--spacings--xs);

    .banner__content__icon {
        font-size: 1rem;
        height: 16px;
    }
}

.banner--full-width {
    width: 100%;
}
