.dropdown-button {
  display: flex;
  gap: 0;

  > button:first-child:has(+ .c__dropdown-menu-trigger) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .c__dropdown-menu-trigger > .c__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: -0.5px;
      width: 1px;
      background-color: var(--c--contextuals--content--semantic--brand--primary);
      border-radius: 1px;
    }
  }
}
