.thread-labels-widget {
    position: relative;
}

.thread-labels-widget[aria-busy="true"] {
    cursor: wait;

    & > .c__button {
        cursor: wait;
    }
}

.thread-labels-widget__loading-labels-tooltip-content {
    display: inline-flex;
    align-items: center;
    gap: var(--c--globals--spacings--xs);

    & > .c__spinner {
        flex-shrink: 0;
    }
}

.thread-labels-widget__popup {
    position: absolute;
    right: -25%;
    top: 100%;
    background-color: var(--c--contextuals--background--surface--secondary);
    border: 1px solid var(--c--contextuals--border--surface--primary);
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 var(--c--contextuals--background--semantic--contextual--primary-hover);
    z-index: 10000;
    width: min(400px, 60vw);
    max-height: max(600px, 80vh);
    margin-top: var(--c--globals--spacings--2xs);
}

.thread-labels-widget__popup__header {
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--xs);
    padding-inline: var(--c--globals--spacings--base);
    padding-block: var(--c--globals--spacings--base) var(--c--globals--spacings--sm);
    background: var(--c--contextuals--background--surface--tertiary);
    border-bottom: 1px solid var(--c--contextuals--border--surface--primary);

    h3 {
        display: inline-flex;
        align-items: center;
        gap: var(--c--globals--spacings--xs);
        margin: 0 0 var(--c--globals--spacings--3xs) 0;
        font-size: 1rem;
        font-weight: 600;
        color: var(--c--contextuals--content--semantic--neutral--secondary);
    }
}

.thread-labels-widget__popup__content {
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--xs);
    list-style: none;
    padding: var(--c--globals--spacings--sm) var(--c--globals--spacings--base);
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.thread-labels-widget__popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.thread-labels-widget__popup__content__empty .c__button {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;

    & > .thread-labels-widget__popup__content__empty__button-label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        min-width: 0;
    }
}
