.copyable-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--c--globals--spacings--2xs);

  &__input {
    width: 100%;
    padding: var(--c--globals--spacings--xs) 0;
    border: 0px;
    font-size: var(--c--globals--font--sizes--xs);
    font-family: monospace;
    background-color: transparent;
    color: var(--c--contextuals--content--semantic--neutral--primary);
    outline: none;
    flex: 1;
  }
}
