.mailbox-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    font-size: var(--c--globals--font--sizes--sm);
    position: relative;
}

.mailbox-panel__header {
    position: sticky;
    top: 0;
    z-index: 10;
    flex-shrink: 0;
    background: var(--c--contextuals--background--surface--secondary);
}

.mailbox-panel__mailbox-title {
    margin: 0;
    flex-shrink: 0;
    padding-block: var(--c--globals--spacings--sm);

    & > .c__dropdown-menu-trigger {
        justify-content: flex-start;
        width: 100%;
    }

    button.mailbox-panel__mailbox-title__dropdown-button {
        color: var(--c--contextuals--content--semantic--neutral--primary);
        font-weight: 700;
        padding-block: var(--c--globals--spacings--sm);
        // 1.1rem hardcoded to be aligned with other icon in the sidebar
        padding-inline: var(--c--globals--spacings--base) 1.1rem;
        width: 100%;
        height: inherit;
        gap: var(--c--globals--spacings--xs);

        & > .material-icons {
            font-size: 1.25rem;
            flex-shrink: 0;
        }

        & > .button__label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            text-align: left;
            justify-content: flex-start;
        }

        &:hover,
        &:focus,
        &:active {
            color: inherit;
        }
    }
}

.mailbox-panel .mailbox-list {
    flex-shrink: 0;
    margin-bottom: var(--c--globals--spacings--sm);
}

.mailbox-panel .mailbox-labels {
    border-top: 1px solid var(--c--contextuals--border--surface--primary);
    flex: 1;
}
