name: Build and Push Container Image

"on":
  workflow_call:
    inputs:
      registry:
        type: string
        required: false
        default: docker.io
        description: The container registry FQDN.
      image_name:
        type: string
        required: true
        description: The suffix for the image name, without the registry and without the repository path.
      context:
        type: string
        required: true
        description: The path to the context to start `docker build` into.
      target:
        type: string
        required: false
        default: ""
        description: The Dockerfile target stage to build the image for.
      version:
        type: string
        required: false
        default: ""
        description: Optional version tag to apply to the image.
    secrets:
      DOCKER_HUB_USER:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ github.repository }}-${{ inputs.image_name }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=${{ inputs.version }},enable=${{ inputs.version != '' }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          target: ${{ inputs.target }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
