.thread-panel {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--c--contextuals--background--surface--secondary);
    height: 100%;

    &__header {
        padding: var(--c--globals--spacings--sm) var(--c--globals--spacings--base);

        .thread-panel__header--title {
            color: var(--c--contextuals--content--semantic--neutral--primary);
            font-size: var(--c--globals--font--sizes--h4);
            font-weight: 500;
            line-height: 1.27;
            // Adjust title position to align with message count below
            transform: translateX(-3px);
        }

        .thread-panel__header--details {
            display: flex;
            align-items: center;
            color: var(--c--contextuals--content--semantic--neutral--secondary);
            font-size: var(--c--globals--font--sizes--xs);
            font-weight: 400;
            gap: var(--c--globals--spacings--xs);

            .c__checkbox {
                flex-shrink: 0;
                margin: 0;
                padding: 0;
                --c--components--forms-checkbox--size: 1rem;
                transform: translateX(-2px);

                & svg {
                    width: var(--c--components--forms-checkbox--size);
                    height: var(--c--components--forms-checkbox--size);
                }
            }

            .thread-panel__header--count {
                white-space: nowrap;
            }
        }
    }

    .thread-panel__bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--c--globals--spacings--4xs);
    }

    .thread-panel__threads_list {
        overflow-y: auto;
        padding-inline: var(--c--globals--spacings--xs);
        display: flex;
        flex-direction: column;
        gap: var(--c--globals--spacings--4xs);
    }

    &--loading,
    &--empty {
        display: grid;
        place-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        background: var(--c--contextuals--background--surface--tertiary);

        & > div {
            font-size: var(--c--globals--font--sizes--h4);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            & > * {
                margin-block: 0;
            }

            p {
                color: var(--c--contextuals--content--semantic--neutral--tertiary);
            }
        }
    }

    &__page-loader {
        color: var(--c--contextuals--content--semantic--neutral--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--c--globals--font--sizes--sm);
        margin: var(--c--globals--spacings--base) 0;
        gap: var(--c--globals--spacings--md);
        padding-inline: var(--c--globals--spacings--base);

        & > .c__spinner {
            flex-shrink: 0;
        }
    }
}

